#loginbutton {
    background-color: #0078d7;
    color: white;
    border-radius: 8px;
    padding: 8px;
}

#loginbutton:hover {
    background-color: #005a9e;
}

#mainwidget {

background-color: lightgreen;
}
